<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="../static/vuetify/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../static/vuetify/css/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>健身</title>
</head>
<body>
<div id="app" :style="isAndroidOrIOS">
    <v-app>
        <v-main>
            <v-carousel v-model="model" height="100%" :show-arrows="false" hide-delimiters>
                <v-carousel-item>
                    <div class="d-block pt-12 px-5 justify-center" :style="bgColor" style="height: 355px">
                        <div class="d-flex justify-center">
                            <v-img :src="picPrefix+'/background.png'" max-width="311"></v-img>
                        </div>
                        <div style="position:absolute;top: 40px;" class="justify-center">
                            <v-img :src="picPrefix+'/fitness.png'" max-width="322"></v-img>
                        </div>
                    </div>
                    <div class="px-10 title font-weight-black pt-9 ">
                        健身
                    </div>
                    <div class="px-10 subtitle-1 font-weight-light pt-5" style="line-height: 23px;">
                        活动、锻炼和走动这三个主要指标是对日常健身记录的直观而快速的概览。每项指标达到设定目标后，圆圈将会填满。<br />
活动：测量活动中的卡路里消耗。<br />
锻炼：测量你完成中高强度锻炼的时长。<br />
走动：测量你全天站立和行走的状态。
                    </div>
                </v-carousel-item>
                <v-carousel-item>
                    <div class="d-block pt-12 px-5 justify-center" :style="bgColor" style="height: 355px">
                        <div class="d-flex justify-center">
                            <v-img :src="picPrefix+'/background.png'" max-width="311"></v-img>
                        </div>
                        <div style="position:absolute;top: 100px;" class="justify-center">
                            <v-img :src="picPrefix+'/activity.png'" max-width="322"></v-img>
                        </div>
                    </div>
                    <div class="px-10 title font-weight-black pt-9">
                        活动
                    </div>
                    <div class="px-10 subtitle-1 font-weight-light pt-5" style="line-height: 23px;">
                        可以通过轻松的日常活动、跑步、骑行，或健身房锻炼消耗热量，有助于提升身体健康状态。
                    </div>
                </v-carousel-item>
                <v-carousel-item>
                    <div class="d-block pt-12 px-5 justify-center" :style="bgColor" style="height: 355px">
                        <div class="d-flex justify-center">
                            <v-img :src="picPrefix+'/background.png'" max-width="311"></v-img>
                        </div>
                        <div style="position:absolute;top: 100px;" class="justify-center">
                            <v-img :src="picPrefix+'/exercise.png'" max-width="322"></v-img>
                        </div>
                    </div>
                    <div class="px-10 title font-weight-black pt-9">
                        锻炼
                    </div>
                    <div class="px-10 subtitle-1 font-weight-light pt-5" style="line-height: 23px;">
                        锻炼是记录中高强度活动的分钟数。每天保持30~40分钟中高强度锻炼，有助于减少慢性病患病的风险。
                    </div>
                </v-carousel-item>
                <v-carousel-item>
                    <div class="d-block pt-12 px-5 justify-center" :style="bgColor" style="height: 355px">
                        <div class="d-flex justify-center">
                            <v-img :src="picPrefix+'/background.png'" max-width="311"></v-img>
                        </div>
                        <div style="position:absolute;top: 100px;">
                            <v-img :src="picPrefix+'/walkaround.png?version=2'" max-width="322"></v-img>
                        </div>
                    </div>
                    <div class="px-10 title font-weight-black pt-9">
                        走动
                    </div>
                    <div class="px-10 subtitle-1 font-weight-light pt-5" style="line-height: 23px;">
                        走动是设置一个每小时的活动目标，记录目标达成的小时数之和。坚持每小时站立走动有助于减少久坐带来的慢性病患病风险。
                    </div>
                </v-carousel-item>
            </v-carousel>
            <v-footer app color="transparent">
                <v-row justify="center" class="pb-6" :class="isIos?'mb-16':''">
                    <div v-for="index in 4">
                        <div style="border-radius: 3px;width: 18px;height:6px;background: #3DC3C9" class="ml-1" v-if="index-1 == model"></div>
                        <div style="border-radius: 3px;width: 6px;height:6px;background: #BDF0F2" class="ml-1" v-else></div>
                    </div>
                </v-row>
            </v-footer>
        </v-main>
    </v-app>
</div>

<script src="../static/vuetify/js/vue.js"></script>
<script src="../static/vuetify/js/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify({
            theme:{dark: false}
        }),
        data:function(){
            return {
                model:0
            }
        },
        computed: {
            picPrefix: function () {
                return '../static/images/fitness/'+(this.$vuetify.theme.dark?'dark':'light');
            },
            picBasePrefix: function () {
                return '../static/images/fitness';
            },
            bgColor: function () {
                return {
                    backgroundColor: this.$vuetify.theme.dark?'#404040':'#F7F7F7'
                };
            },
            isIos() {
                var u = navigator.userAgent;
                var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
                if (isiOS) {
                    return true
                }

                return false
            }
        }
    })
</script>
</body>
</html>
